*{
    background-color: rgb(24, 2, 8);
    text-align: center;
    color: pink;
    box-sizing: border-box;
}
h1{
    background-color: rgb(218, 178, 178);
    color: black;
}
p{
    height: 30px;
    width: auto;
    text-align: center;
    color: rgba(83, 9, 9, 0.89);
    font-weight: bolder;
    background-color:indianred;
}
#enter-task{
    height: 40px;
    width: max-content;
    border: 2px solid green;
    box-shadow: 3px 2px 1px red;
}
button{
    background-color: rgb(112, 112, 0);
}
ul>li{
    border: 4px solid rgba(53, 28, 28, 0.801);
    display: flex;
    justify-content: space-between;

}
span{
    width: max-content;
}
